<div *ngIf="!loading">
  <app-banner [banner]="banner" [viewMore]="true"></app-banner>
  
  <div class="container mx-auto font-sans px-6 md:px-4 xl:px-0 mt-10">
    <div *ngFor="let section of sections" class="mb-6">
      <h1 class="text-5xl font-bold">{{ section.title }}</h1>
      <div class="grid sm:grid-cols-3 lg:grid-cols-4 gap-2 mt-2">
        <app-movie-card *ngFor="let movie of section.movies.slice(0, 12);index as index" [movie]="movie"></app-movie-card>
      </div> 
    </div>
  </div>
</div>