<div class="flex flex-col">
  <div class="bg-gray-900 sm:rounded-lg px-10 py-6">
    <div *ngIf="!movieService.loading">
      <h1 class="text-3xl flex-initial border-b-2 border-gray-800 mb-4">Information</h1>
      <ul class="grid sm:grid-flow-col grid-cols-1 sm:grid-cols-3 sm:grid-rows-2 gap-6">
        <li *ngFor="let information of informationList">
          <h3 class="text-lg text-gray-700">{{ information.title }}</h3>
          <span class="text-base">{{ information.value }}</span>
        </li>
        <li>
          <h3 class="text-lg text-gray-700">Genres</h3>
          <div class="text-base grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-2">
            <div *ngFor="let genre of movieService.movie.genres" class="bg-gray-800 hover:bg-gray-700 cursor-pointer text-white text-sm rounded-lg text-center px-4 py-px">
              {{ genre.name }}
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div *ngIf="!loading">
      <h1 class="text-3xl flex-initial border-b-2 border-gray-800 mb-4 mt-10">Cast</h1>
      <div class="grid grid-cols-2 sm:grid-cols-6 lg:grid-cols-8 xl:grid-cols-12 gap-6">
        <div *ngFor="let cast of casts">
          <img class="rounded" [src]="'https://image.tmdb.org/t/p/original/' + cast.profile_path" alt="" />
          <span class="font-bold text-sm">{{ cast.name }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="px-6 md:px-4 xl:px-0 mt-10" *ngIf="!loading && recommendations.length > 0">
    <h1 class="text-3xl font-bold">Recommendations</h1>
    <div class="grid sm:grid-cols-3 lg:grid-cols-6 gap-2 mt-2">
      <app-movie-card *ngFor="let recommendation of recommendations" [movie]="recommendation"></app-movie-card>
    </div>
  </div>
</div>